{% extends "site_base.html" %}

{% load i18n %}

{% block rtab_id %}id="profile_tab"{% endblock %}

{% block subnav %}
	<div id="subnav">
    {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url profiles.views.profile user.username %} ">{% trans "Your Profile" %}</a></li>
            <li><a href="{% url profiles.views.profiles %} ">{% trans "All Profiles" %}</a></li>
			{% if user.is_staff %}
				<li><a href="{% url orgs.views.create_user_and_profile %} ">{% trans "Create User and Profile" %}</a></li>
			{% endif %}
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
	</div>
{% endblock %}