{% extends "schedule/base.html" %}
{% load schedule_cal_tags %}

{% block head_title %}Community Calendar{% endblock %}

{% block extra_head %}
	{{ block.super }}
	<link rel="stylesheet" href="{{ MEDIA_URL }}jquery.tooltip.css" type="text/css" media="screen" />
{% endblock %}

{% block body %}
	<div style="float: left; width: 800px;" >
	{% comment %} deleteme {% endcomment %}	
	Month start: {{ month.start }}	
	{% month_table calendar month.start "regular" "m_calendar_date" %}

	{% comment %}
	<p align="center" >
		<a href={{calendar.add_event_url}}>Add event</a>
	</p>
	<p align="center" style="margin-top: 2px;" >
		<a href="{% url tri_month_calendar_date calendar.id month.start.year month.start.month %}">Three Month Calendar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url year_calendar_date calendar.id month.start.year %}">Full Year Calendar</a>
	</p>
	{% endcomment %}
		
	</div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}jquery.bgiframe.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}jquery.dimensions.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}jquery.tooltip.js"></script>
<script type="text/javascript">
	$(function() {
		$('.pretty').tooltip({ 
			track: true, 
			delay: 0, 
			showURL: false, 
			showBody: " - ", 
			extraClass: "pretty", 
			left: -120 
		});
	});
</script>
{% endblock %}