{% extends "orgs/base.html" %}


{% block head_title %}Attendance for meeting {{ meeting }}{% endblock %}

{% block body %}
    
	<h1>Attendance for {{ meeting.get_name_display }} of the {{ meeting.circle }} on {{ meeting.date_and_time.date|date:"D d M Y" }}</h1>

		<form action="{% url update_attendance meeting_slug=meeting.slug %}" method="GET">
			<input class="submit-btn" type="submit" value="Update Attendance" />
		</form>

		<table class="bordered-table" >
			<tr>
				<th>Member</th>
				<th>Function</th>
				<th>Attended</th>
			</tr>
			{% for attendee in attendees %}
				<tr>
					<td>{{ attendee.member.user_name }}</td>
					<td>{{ attendee.get_role_display }}</td>
					<td style="text-align: center; ">{{ attendee.attended }}</td>
				</tr>
			{% endfor %}
		</table>
	</form>



    
{% endblock %}