{% extends "orgs/base.html" %}
{% load attachment_inclusion_tag %}
{% load org_tags %}
{% load i18n %}



{% block head_title %}Circle Event {{ event }}{% endblock %}

{% block body %}
<div style="width: 800px;">
	<div style="text-align: center; width: 60%;" >
		<h1>{{ event.title }} of <a href="{% url organization org_slug=event.circle.slug %}">{{ event.circle }}</a></h1>
		<h3>
			{{ event.start_date|date:"l, F d, Y" }}<br />
			{{ event.start_time|time:"P" }} at {{ event.location }}
		</h3>
	</div>

	<p>{{ event.description|linebreaks }}</p>
	
	{% if is_officer %}
		<div>
			<form style="display: inline;" action="{% url announce_circle_event event_id=event.id %}" method="POST">
				<input class="submit-btn" type="submit" value="Announce Event" />
				<input type="hidden" name="next" value="{% url circle_event event_id=event.id %}" />
			</form>
			<form style="display: inline;" action="{% url edit_circle_event event_id=event.id %}" method="GET">
				<input class="submit-btn" type="submit" value="{% trans "Edit Event" %}" />
			</form>
			<form style="display: inline;" method="POST" action="{% url delete_circle_event event.id %}">
				<input class="submit-btn" type="submit" value="{% trans "Delete Event" %}" />
			</form>
		</div>
	{% endif %}
			
</div
    
{% endblock %}
