{% extends "orgs/base.html" %}
{% load attachment_inclusion_tag %}


{% block head_title %}Meeting {{ meeting }}{% endblock %}

{% block body %}
    
    <h1>Meeting {{ meeting }}</h1>

	<div style="margin-top: 1em; margin-bottom: 1em; " >
		<b>Attendance:</b> 
		<form style="display: inline;" action="{% url meeting_attendance meeting_slug=meeting.slug %}" method="GET">
			<input class="submit-btn" type="submit" value="View" />
		</form>
		<form style="display: inline;" action="{% url update_attendance meeting_slug=meeting.slug %}" method="GET">
			<input class="submit-btn" type="submit" value="Update" />
		</form>
	</div>



	{% attachments meeting %}
    
{% endblock %}