{% extends "orgs/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load order_by %}
{% load humanize %}
{% load org_tags %}

{% block head_title %}Meetings for {{ org.name }}{% endblock %}

{% block body %}
    <h1>{% trans "Meetings for " %} <a href="{% url organization org_slug=org.slug %}">{{ org.name }}</a></h1>
    
    {% if is_officer %}
		<div class="form-toggle">
			<h2><a href=""  id="add-meeting-toggle">{% trans "Add Meeting" %}</a></h2>
			<form id="add-meeting" action="{% url org_meetings org.slug %}" method="POST" style="display: none;" >
				<table>
					{{ meeting_form }}
					<tr><td></td><td><input type="hidden" name="action" value="add_meeting" /><input type="submit" value="{% trans 'add meeting' %}"/></td></tr>
				</table>
			</form>
		</div>
    {% endif %}

	{% if meetings %}

		<table class="bordered-table" >
			<tr>
				<th>Details</th>
				<th>Date and Time</th>
				<th>Name</th>
				<th>Location</th>
				<th>Description</th>
				<th>Attendance</th>
			</tr>    
			{% for meeting in meetings %}
				<tr class="{% cycle odd,even %}">
					<td><a href="{% url meeting_details meeting_slug=meeting.slug %}">View</a></td>
					<td>{{ meeting.date_and_time|date:"D d M Y h:iA" }}</td>
					<td>{{ meeting.name }}</td>
					<td>{{ meeting.location }}</td>
					<td>{{ meeting.description }}</td>
					<td>
						<a href="{% url meeting_attendance meeting_slug=meeting.slug %}">View</a> 
						<a href="{% url update_attendance meeting_slug=meeting.slug %}">Update</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	
	{% else %}
		No meetings yet.
	{% endif %}

{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#add-meeting').hide();
            $('#add-meeting-toggle').click(function() {
                $('#add-meeting').slideToggle();
                $('#add-meeting').autoscroll();
                return false;
            });
            if ($('#add-meeting ul.errorlist').length) {
                $('#add-meeting').show();
                $('#add-meeting ul.errorlist').autoscroll();
            }
        });
    </script>
{% endblock %}
