{% extends "orgs/base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load wiki %}
{% load wikiurl %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load shorttimesince_tag %}
{% load extra_tagging_tags %}
{% load tagging_tags %}
{% load attachment_inclusion_tag %}


{% block head_title %}{{ org }}{% endblock %}

{% block body %}
    
    <h1>{{ org }}</h1>

    {% if user.is_authenticated %}
        <div class="right_panel">
			
			<h3>Tag Cloud</h3>
			<div class="tag-cloud">
				{% tag_cloud_for_model wiki.Article as tags with steps=6 min_count=1 distribution=log %}
				{% for tag in tags %}
					<span class="tag-{{tag.font_size}}"><a href="/tags/{{tag.name|slugify}}/">{{tag.name}}</a></span> 
				{% endfor %}
			</div>
			
            <div class="members">
                <h2>{% trans "Members" %}</h2>
                <table width="100%">
                    {% for member in org.members.all %}
                        {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                        <td>
                            <div class="avatar">{% avatar member.user 40 %}</div>
                            <div class="details"><a href="{% url profiles.views.profile member.user.username %}" title="{{ member.user.username }}">{{ member.user.username }}</a></div>
                        </td>
                        {% if forloop.counter0|add:"1"|divisibleby:"3" %}</tr>{% endif %}
                    {% endfor %}
                    {% if org.members.all|length|divisibleby:"3" %}{% else %}</tr>{% endif %}
                </table>
            </div>
					
        </div>
    {% endif %}

    <div style="width: 60%;">

		<h3>Meetings:</h3>
	
		{% if org.meetings.all %}
	
			<table class="bordered-table" >
				<tr>
					<th>Details</th>
					<th>Date and Time</th>
					<th>Name</th>
					<th>Description</th>
					<th>Attendance</th>
				</tr>    
				{% for meeting in org.meetings.all %}
					<tr class="{% cycle odd,even %}">
						<td><a href="{% url meeting_details meeting_slug=meeting.slug %}">View</a></td>
						<td>{{ meeting.date_and_time|date:"D d M Y h:iA" }}</td>
						<td>{{ meeting.name }}</td>
						<td>{{ meeting.description }}</td>
						<td>
							<a href="{% url meeting_attendance meeting_slug=meeting.slug %}">View</a> 
							<a href="{% url update_attendance meeting_slug=meeting.slug %}">Update</a>
						</td>
					</tr>
				{% endfor %}
			</table>
		
		{% else %}
			No meetings.
		{% endif %}
		
		<h2>Aims</h2>
		
		{% if aims %}

			<p><a href="{% url org_aims org.slug %}" method="Post">view more details or add Aim...</a></p>
	
			<table class="bordered-table">
				<tr>
					<th>Aim</th>
					<th>Modified</th>
					<th>Leader</th>
					<th>Doer</th>
					<th>Evaluator</th>
				</tr>
				{% for aim in aims %}
					<tr class="{% cycle odd,even %}" >
						<td><a href="{{ aim.get_absolute_url }}">{{ aim.name }}</a></td>
						<td>{{ aim.modified|shorttimesince }} ago</td>
						<td>
							{% if aim.leader %}
								{{ aim.leader }}
							{% else %}
								<span class="warning">No leader</span>
							{% endif %}
						</td>
						<td>
							{% if aim.doer %}
								{{ aim.doer }}
							{% else %}
								<span class="warning">No doer</span>
							{% endif %}
						</td>
						<td>
							{% if aim.evaluator %}
								{{ aim.evaluator }}
							{% else %}
								<span class="warning">No evaluator</span>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			None yet. 
			{% if is_member %}
				<a href="{% url org_aims org.slug %}" method="Post">Add Aims</a>
			{% endif %}
		{% endif %}
		

		
		<h2>Tasks{% if total_tasks %} ({{ total_tasks }}){% endif %}</h2>

		{% if tasks %}
		
			<p><a href="{% url org_tasks org.slug %}" method="Post">view more details or add task...</a></p>
	
			<table class="bordered-table">
				<tr>
					<th>Task</th>
					<th>Modified</th>
					<th>Assignee</th>
					<th>Status</th>
				</tr>
				{% for task in tasks %}
					<tr class="task_{{ task.get_state_display }} {% cycle odd,even %}">
						<td><a href="{% url org_task task.id %}">{{ task.summary }}</a></td>
						<td>{{ task.modified|shorttimesince }} ago</td>
						<td>
							{% if task.assignee %}
								{{ task.assignee }}
							{% else %}
								<span class="warning">unassigned</span>
							{% endif %}
						</td>
						<td>{{ task.status }}</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			None yet. 
			{% if is_member %}
				<a href="{% url org_tasks org.slug %}" method="Post">Add tasks</a>
			{% endif %}
		{% endif %}
	
		<h2>Wiki Articles{% if total_articles %} ({{ total_articles }}){% endif %}</h2>

		{% if articles %}
			<table class="topics">
				{% for article in articles %}
					{% show_teaser article %}
				{% endfor %}
			</table>
			<p><a href="{% wikiurl list org %}">more...</a></p>
		{% else %}
			{% wikiurl list org as wiki_url %}
			<p>
				None yet. 
				{% if is_member %}
					Go to the <a href="{{ wiki_url }}" title="wiki">wiki</a> to start a new article.
				{% endif %}
			</p>
		{% endif %}
		
	</div>

	{% attachments org %}
    
{% endblock %}