{% extends "orgs/base.html" %}
{% load org_tags %}

{% block head_title %}All Circles{% endblock %}

{% block body %}

	<div style="float: left;">
		<h1 style="text-align: center;" >Your Circles</h1>
	
		<ul>
			{% for org in your_orgs  %}
				<li><a href="{{ org.get_absolute_url }}">{{ org }}</a></li>
			{% endfor %}
		</ul>
	</div>

	<div style="float: left; margin-left: 2em;">    
		<h1 style="text-align: center;" >All Circles</h1>
	
		<ul>
			{% related_linked_list orgs organization %}
		</ul>
	</div>	
	<div style="clear: both;"></div>
    
{% endblock %}
