{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}

	<div style="width: 400px; font-size: 120% margin-top: 1em;" >

		<h1 style="text-align: center;" >Services Available:</h1>
	
		<ul style="font-size: 120%;" >
			<li>Calendar of Meetings and Events</li>
			<li>Meeting Agendas</li>
		</ul>
	
		<h1 style="text-align: center;" >Services Being Developed:</h1>
	
		<ul style="font-size: 120%;" >
			<li>Task and Time Management</li>
			<li>Circle Archives</li>
		</ul>
		
	</div>

    
{% endblock %}
